/*font for the LOGO is microsoft YI BAITI */

@font-face {
    font-family: regular-font;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: medium-font;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: thin-font;
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: monsterrat-bold;
    src: url('../fonts/Montserrat-Bold.ttf')
}

*{
    user-select: none;
}

.nested-menu-button{
    flex-shrink: 0;
    background: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 20%);
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    position: relative;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 85%);
}
.nested-menu-button + .nested-menu-button{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 85%);
}
.nested-menu-button:first-child{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 85%);
}
.nested-menu-button:last-child{
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: hsl(0, 0%, 85%);
}
.nested-menu-button::after{
    content: "";
    height: 18px;
    width: 18px;
    -webkit-mask: url("../Icons/right-arrow.svg") no-repeat center;
    -webkit-mask-size: 18px 18px;
    background: black;
    position: absolute;
    right: 10px;
}
.nested-menu-button:hover::after{
    background: white;
}
.nested-menu-button:hover{
    background: hsl(204, 100%, 50%);
    color: white;
}
.nested-menu{
    font-size: 10px;
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/*     border-width: 1px;
    border-color: hsl(0, 0%, 85%);
    border-style: solid; */
    display: flex;
    flex-direction: column;
    position: fixed;
    height: fit-content;
    width: 250px;
}
.nested-menu-button:hover > .nested-menu{
    display: flex;
}
.nested-menu .nested-menu{
    display: none;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    left: 100%;
}

.callback-button{
    flex-shrink: 0;
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 20%);
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
}
.callback-button:hover{
    background: hsl(204, 100%, 50%);
    color: white;
}


.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color:hsl(120, 60%, 50%);
    opacity: 0.6;
    position: absolute;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }