*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
.section{
    height: calc(100% - 70px);
    flex: 1;
    display: flex;
    flex-direction: column;
}
.app-header{
    height: 70px;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.app-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.calendar-controls{
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);
    border-radius: 5px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
}
.calendar-controls__button{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 80%);
    border-radius: 5px;
    margin-right: 5px;
}
.calendar-controls__button--calendar-filter{

}
.calendar-controls__button--list-toggle{

}
.calendar-controls__button--calendar-filter div{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    -webkit-mask: url("../images/filter_alt-24px.svg") no-repeat center;
    -webkit-mask-size: 20px 20px;
}
.calendar-search div{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    -webkit-mask: url("../images/search-24px.svg") no-repeat center;
    -webkit-mask-size: 20px 20px;
}
.calendar-search{
    flex: 1;
    display: flex;
}
.calendar-search input{
    border-width: 0 0 0 1px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
    font-size: 14px;
    padding: 3px 10px;
    box-sizing: border-box;
    height: 40px;
    flex: 1;
    background: none;
}
.calendar-controls__button--list-toggle div{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    -webkit-mask: url("../images/list-24px.svg") no-repeat center;
    -webkit-mask-size: 20px 20px;
}
.calendar-header{
    height: 70px;
    display: flex;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 10px 6px -2px rgba(0,0,0,0.16);
    
}
.date-picker{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 98%);
}
.date-picker__month{
    font-weight: 600;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
}
.date-picker__month > div{
    height: 30px;
    width: 60px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.date-picker__month div:nth-child(1) > div{
    height: 30px;
    width: 30px;
    background: black;
    -webkit-mask: url("../images/keyboard_arrow_left-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.date-picker__month div:nth-child(2) > div{
    height: 30px;
    width: 30px;
    background: black;
    -webkit-mask: url("../images/keyboard_arrow_right-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.date-picker__year{
    font-weight: 600;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-picker__year > div{
    height: 30px;
    width: 60px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.date-picker__year div:nth-child(1) > div{
    height: 30px;
    width: 30px;
    background: black;
    -webkit-mask: url("../images/keyboard_arrow_left-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.date-picker__year div:nth-child(2) > div{
    height: 30px;
    width: 30px;
    background: black;
    -webkit-mask: url("../images/keyboard_arrow_right-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.calendar-statistics{
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    display: flex;
    height: 70px;
    background: hsl(0, 0%, 98%);
}
.calendar-statistics__stat{
    padding: 0 10px;
    box-sizing: border-box;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;
}
/* <div class="calendar-statistics__stat calendar-statistics__stat--events-scheduled">Events Scheduled</div>
<div class="calendar-statistics__stat calendar-statistics__stat--free-time">Free Time</div>
<div class="calendar-statistics__stat calendar-statistics__stat--deadlines">Deadlines</div>
<div class="calendar-statistics__stat calendar-statistics__stat--committed-time">Time committed Per week</div> */
.calendar-statistics__stat--events-scheduled::before{
    content: "Events Scheduled";
    font-size: 12px;
}
.calendar-statistics__stat--free-time::before{
    content: "Free Time";
    font-size: 12px;
}
.calendar-statistics__stat--deadlines::before{
    content: "Deadlines";
    font-size: 12px;
}
.calendar-statistics__stat--committed-time::before{
    content: "Time Committed";
    font-size: 12px;
}
.upcoming-events{
    box-sizing: border-box;
    /* border-width: 1px 0 0 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%); */
    height: 180px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.upcoming-events__todays-date{
    font-weight: 600;
    font-size: 24px;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
/*                 <div class="upcoming-events__list-item">
                    <div class="upcoming-event-name">Event1</div>
                    <div class="upcoming-event-description">
                        This is a description of the event
                    </div>
                    <div class="upcoming-event-time">Tomorrow, 8:00 AM - 9:45 PM</div>
                    <div class="upcoming-event-location"></div>
                    <div class="upcoming-event-type"></div>
                    <div class="upcoming-event-invitees"></div>
                </div> */
.upcoming-events__list{
    display: flex;
    flex: 1;
}
.upcoming-events__list-item{
    border-radius: 5px;
    width: fit-content;
    height: 100%;
    background: orange;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.upcoming-event-name{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    flex: 1;
}
.upcoming-event-description{
    flex: 1;
    display: none;
}
.upcoming-event-location{
    display: flex;
    margin-bottom: 5px;
}
.upcoming-event-location::before{
    content: "";
    height: 12px;
    width: 12px;
    background: white;
    -webkit-mask: url("../images/navigation-24px.svg") no-repeat center;
    -webkit-mask-size: 12px 12px;
    margin-right: 5px;
}
.upcoming-events__list-item:nth-child(5n - 4){
    background:hsl(150, 100%, 40%);
}
.upcoming-events__list-item:nth-child(5n - 3){
    background:hsl(330, 100%, 60%);
}
.upcoming-events__list-item:nth-child(5n - 2){
    background: hsl(24, 100%, 50%);
}
.upcoming-events__list-item:nth-child(5n - 1){
    background: hsl(340, 100%, 30%);
}
.upcoming-events__list-item:nth-child(5n - 0){
    background: hsl(240, 100%, 60%);
}
.calendar-overflow{
    overflow: auto;
    flex: 1;
    width: 100%;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
}
.calendar > div{
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
}
.calendar .calendar-day-header{
    background: hsl(0, 0%, 98%);
    height: 50px;
    display: flex;
    align-items: center;
}
.calendar .calendar-day{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.calendar .calendar-day:hover{
    background: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 99%);
}
.calendar-day__event{
    font-size: 12px;
    background: orange;
    color: white;
    margin-top: 5px;
    height: fit-content;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
}
.calendar-day__event:nth-child(5n - 4){
    background:hsl(150, 100%, 40%);
}
.calendar-day__event:nth-child(5n - 3){
    background:hsl(330, 100%, 60%);
}
.calendar-day__event:nth-child(5n - 2){
    background: hsl(24, 100%, 50%);
}
.calendar-day__event:nth-child(5n - 1){
    background: hsl(340, 100%, 30%);
}
.calendar-day__event:nth-child(5n - 0){
    background: hsl(240, 100%, 60%);
}
.app-controls{
    height: calc(100% - 70px);
    width: 70px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.app-controls__button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-controls__button--import{
    background: black;
    -webkit-mask: url("../images/import_export-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.app-controls__button--friends{
    background: black;
    -webkit-mask: url("../images/supervisor_account-24px.svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.app-controls__button--calendar{
    background: black;
    -webkit-mask: url("../images/calendar_today-24px\ \(1\).svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}
.app-controls__button--settings{
    background: black;
    -webkit-mask: url("../images/settings-24px\ \(1\).svg") no-repeat center;
    -webkit-mask-size: 30px 30px;
}